.imgWrap {
  height: 170px;
  background: url("../../assets/wanjia.png");
  background-size: cover;
  border-radius: 12px;
  margin:5px;
}
.flexboxItem{
  text-align: center;
  padding:15px 0 15px 0;
}
.link{
  text-decoration: none;
  color:black;
}