.serviceSecurity {
    padding: 0 15px;
    text-indent: 2em;
    line-height: 25px;
    .top {
        color: #999999;
        font-size: 14px;
    }
    .item {
        .title {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                width: 95px;
                height: 2px;
                top: 130%;
                left: 30px;
                background: #52b8a4;
            }
        }
        .content {
            color: #999999;
            font-size: 14px;
        }
    }
}